body{
	margin: 0;
	padding: 0;
	background-image: url(abc.jpg);
	-webkit-background-size:cover;
	background-size: cover;
	font-family: tahoma,geneva,verdana,sans-serif;
}

.form{
	position:absolute;
	left:5%;
	top: 1%;
	/*transform:translate(-50,-50);*/
	box-sizing: border-box;
	padding-top:25px;
	padding-left: 245px;
	padding-right: 40px;
	padding-bottom: 180px;
	margin-left: -100px;
	border-radius: 5px;
	border:1px solid black;
}

.form1 {
	position:absolute;
	left:60%;
	top: 1%;
	/*transform:translate(-50,-50);*/
	box-sizing: border-box;
	padding-top:25px;
	padding-right:60px;
	padding-left: 360px;
	padding-bottom: 60px;
	margin-left: -100px;
	border-radius: 5px;
	border:1px solid black;
}

.form1 .aa{
	padding:0;
	font-size: 20px;
	margin-left:-220px;
	color:#fff;
	text-align: center;
	font-weight: bold;
	font-family: tahoma,geneva,verdana,sans-serif;

}
.medo{
	padding:0;
	margin: 0;
	color:#fff;
	text-align: center;
	font-weight: 60px;
	font-family: tahoma,geneva,verdana,sans-serif;
}
.form table{
	margin-left:-120px;
	padding: 0;
}

.form table tr td{
	margin:0;
	padding-top:35px;
	padding-bottom: 5px;
	color:white;
	width: 280px;
	font-weight: 20px;
}
.form p{
	margin:0;
	padding-top:35px;
	padding-bottom: 5px;
	color:white;
	font-weight: 20px;
}
.form table tr td input[type="text"]{
	padding:0;
	margin-left:-30px;
	padding-bottom: 10px;
	position: absolute;
	border:none;
	display: 25px;
	outline: none;
	color: white;
	height: 10px;
	width:200px;
	background-color: transparent;
	border-bottom: 1px solid #fff;
	font-weight: 200px;
}

.form table tr td input[type=button] , .form table tr td input[type=reset]{
	margin-top: 25px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: Verdana;
	background-color: rgba(0,0,0,0.5);
	color: white;
}

.form1 table{
	width: 500px;
	height: 600px;
	padding: O;
	margin-left: -270px; 
}

.form1 table tr td{
	color: #fff;
	font-size: 18px;
}

.form1 table tr td .dd7{
	color: red;
	font-size: 18px;
}

.form1 table tr #dd3 , .form1 table tr #dd ,.form1 table tr #dd1 , .form1 table tr #dd2 , .form1 table tr #dd6 , .form1 table tr #dd7{
	color: red;
	font-weight: bold;
}